.dashboard {
  height: 100%;

  .header {
    padding: 0 20px;
    background-color: #dadada;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px -1px;
    z-index: 1;

    .logo {
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .sider {
    .menu {
      height: 100%;
    }
  }

  .content {
    padding: 16px;
  }
}
