html, body, #__plasmo {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.auth-layout {
  @apply w-full h-full flex items-center justify-center;

  .login {
    .login-form {
      @apply flex flex-col gap-2 p-4 border rounded-xl shadow;
      width: 300px;

      .title {
        @apply font-bold text-xl;
      }

      .description {
        @apply mb-2;
      }

      .btn-submit {
        @apply bg-gray-900 text-gray-300 px-4 py-2 rounded;
      }
    }
    .credit {
      @apply text-center mt-2 text-gray-400;

      a {
        @apply hover:text-gray-900 font-bold transition-all ease-in-out duration-200;
      }
    }
  }
}
