body {
  margin: 0;
  padding: 0;
}

.popup-layout {
  @apply bg-gray-200 p-4 max-w-sm mx-auto shadow-md flex flex-col items-center justify-between transition-all ease-in-out duration-200;

  width: 440px;
  height: 200px;

  .popup-content {
    @apply flex-1 flex flex-col justify-between bg-white p-4 rounded-xl border shadow;

    .title {
      @apply font-bold text-gray-900 text-lg mb-1;
    }
    .description {
    }
    .btn-toggle-incognito {
      @apply transition-all ease-out duration-300 flex-1 bg-black hover:bg-gray-300 text-white hover:text-black py-2 px-4 rounded shadow;
    }
    .btn-settings {
      @apply transition-all ease-out duration-300 text-gray-600 hover:text-gray-900 hover:border-gray-400 cursor-pointer px-4 border border-gray-300 rounded shadow;
    }
  }


  &.incognito {
    @apply bg-gray-900;

    .popup-content {
      @apply bg-gray-800 border-gray-800 shadow;
      .title {
        @apply text-gray-200;
      }
      .description {
        @apply text-gray-400;
      }
      .btn-toggle-incognito {
        @apply bg-gray-600 text-gray-300 hover:bg-gray-900 hover:text-gray-300;
      }
      .btn-settings {
        @apply text-gray-300 border-gray-600 hover:text-gray-100 hover:border-gray-500;
      }
    }
  }
}