.pageContent {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 8px;
  .btnMode {
    flex: 1;
  }
}
